extends layout

block content
  .col-12
    .row.banner
      h1 Loc8r
        small &nbsp;Find places to work with wifi near you!
  .row
    .col-12.col-md-8
      p List area.
    .col-12.col-md-4
      p.lead Loc8r help you find places to work when out an dabout.
